{% extends "base.html" %}
{% block content %}
<h1>You're on standby</h1>
<p>The organizer will contact you if a seat opens.</p>
<p>Your position: <strong>#{{ position }}</strong></p>
<p>{{ game['title'] }} • {{ game['game_date'] }} at {{ game['game_time'] | fmt_game_time }}</p>
<script nonce="{{ csp_nonce(request) }}">
  localStorage.setItem('game_night_standby_{{ game["code"] }}', '1');
  localStorage.setItem('game_night_standby_pos_{{ game["code"] }}', '{{ position }}');
  {% if invitee_token %}
  localStorage.setItem('game_night_invitee_token', '{{ invitee_token }}');
  {% endif %}
</script>
{% endblock %}
